
services:
  ####################################################################
  # MySQL
  ####################################################################
  # mysql:
  #   image: ghcr.io/u2waremanager/io.u2ware.examples.env:mysql-9.5.0
  #   container_name: ......
  #   ports:
  #     - "3306:3306"
  #   volumes:
  #     - ./target/volumns/mysql:/var/lib/mysql
  #   environment:
  #     MYSQL_ROOT_PASSWORD : trust
  #     MYSQL_DATABASE : quest
  #     MYSQL_USER : quest
  #     MYSQL_PASSWORD : quest
  #   healthcheck:
  #     test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
  #     interval: 1s

  ####################################################################
  # Others
  ####################################################################
  # others:
  #   image: "....."

  #   depends_on:
  #     postgres :
  #       condition: service_started
  #     mysql :
  #       condition: service_healthy


  ####################################################################
  # oauth2-db
  ####################################################################
  oauth2-db:

    image: ghcr.io/u2waremanager/io.u2ware.examples.env.postgres:16.4-alpine3.20

    container_name: oauth2-db

    ports:
      - "5432:5432"

    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_USER: oauth2-db
      POSTGRES_PASSWORD: oauth2-db
      POSTGRES_DB: oauth2-db

  ####################################################################
  # oauth2-server
  ####################################################################
  oauth2-server:
    image: ghcr.io/u2waremanager/io.u2ware.product.oauth2-server:3.4.13

    container_name: oauth2-server

    ports:
      - "9020:9020"

    environment:
      server.port: 9020
      spring.security.user.name: oauth2-server
      spring.security.user.password: oauth2-server

      spring.jpa.hibernate.ddl-auto: update
      spring.jpa.properties.hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
      
      spring.datasource.driver-class-name: org.postgresql.Driver
      spring.datasource.url: jdbc:postgresql://oauth2-db:5432/oauth2-db
      spring.datasource.username: oauth2-db
      spring.datasource.password: oauth2-db

    depends_on:
      oauth2-db :
        condition: service_started


  ####################################################################
  # stomp-mq
  ####################################################################
  stomp-mq:
    image: ghcr.io/u2waremanager/io.u2ware.examples.env.rabbitmq:3-management
    # image: rabbitmq:4.0-management-alpine

    container_name: stomp-mq

    ports:
      - "15672:15672"
      - "5672:5672"
      - "61613:61613"

    environment:
      RABBITMQ_DEFAULT_USER: stomp-mq
      RABBITMQ_DEFAULT_PASS: stomp-mq

    # healthcheck:
    #   test: ["CMD", " rabbitmq-plugins", "enable", "--offline", "rabbitmq_stomp"]
    #   test: ["CMD", "rabbitmq-diagnostics", "-q", "check_running"]
    #   test: ["CMD", "rabbitmq-diagnostics", "-q", "check_running", "&&", "rabbitmq-diagnostics", "-q", "check_local_alarms"]
    #   test: ["CMD", "nc", "-z", "localhost", "61613"]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5
    #   start_period: 30s


  ####################################################################
  # stomp-server
  ####################################################################
  stomp-server:
    image: ghcr.io/u2waremanager/io.u2ware.product.stomp-server:3.4.13

    container_name: stomp-server

    ports:
      - "9030:9030"

    environment:
      server.port: 9030
      spring.security.oauth2.resourceserver.jwt.issuer-uri: http://localhost:9020
      spring.security.oauth2.resourceserver.jwt.jwk-set-uri: http://oauth2Server:9020/oauth2/jwks
      
      io.u2ware.common.stomp.destination: /sessions
      
      io.u2ware.common.stomp.server.host: stomp-mq
      io.u2ware.common.stomp.server.port: 61613
      io.u2ware.common.stomp.server.username: stomp-mq
      io.u2ware.common.stomp.server.password: stomp-mq

    depends_on:
      stomp-mq :
        condition: service_started
        # condition: service_healthy